*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.grid1{
  display: grid;

  grid-template-columns: repeat(2,1fr);
  grid-gap: 5em;
 
}
p{
  font-size: 25px;
}
#queEs{
  background-color: #18F85D;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 6em;
 

}
#imagenSintomas{
  width: 500px;
  height: auto;
}
.btnMover{
  width: 80px;
  height:auto;
  margin: 1em;
  padding: 1em;
}
.grid3{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 6em;
  
}
#imgCuidarnos{
  width: 500px;
  height: auto;
}
.grid4{
   display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 6em;
  

}

.grid5{
   display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2em;


}
.container{
  background-color: #7C6FFA;
}

.gridd{


}
